body{
    font-family: "Manrope", sans-serif;
    font-weight: 700px;
    width:100%;
    background: #ffffff;
}
button{
    font-family: inherit;
    cursor:pointer;
}

.counter{
    margin:auto;
    width: 700px;
    padding:100px;
    display: flex;
    flex-direction: column;
    gap:36px;
}
.counter__value{
    text-align:center;
    font-size: 32px;
    line-height: 44px;
}
.counter__addButton,
.counter__resetButton{
    width: 500px;
    height: 100px;
    border-radius: 20px;
    border: none;
    background-color: #4191ff;
    font-size: 32px;
    line-height:44px;
    color: #ffffff;
}
.counter__resetButton{
    background: #d45366;
}